<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%= 5 + 1-2 %> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        Cumque modi, esse tenetur magnam magni natus laboriosam aliquam hic voluptatum? Ab id distinctio quo consequatur? 
        Tempore quae asperiores repellat sit ut?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit corporis velit, deserunt quasi, 
        harum architecto aspernatur quaerat quae possimus blanditiis voluptates itaque molestiae porro voluptatibus sequi eum consectetur incidunt cum.</p>
</body>

</html>